# Config files
.idea/
test-runner.iml

# Compiled class file
*.class
target/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Compiled class resources
!/fr/inria/stamp/coverage/JacocoRunner$MemoryClassLoader.class
!/fr/inria/stamp/coverage/JacocoRunner.class
!/fr/inria/stamp/test/TestListener.class
!/fr/inria/stamp/test/TestListener$Failure.class
!/fr/inria/stamp/test/TestRunner$MethodFilter.class
!/fr/inria/stamp/test/TestRunner.class
!/fr/inria/stamp/coverage/CoverageListener$Coverage.class
!/fr/inria/stamp/coverage/CoverageListener.class
