# Config files
.idea/
test-runner.iml
*.iml

# Compiled class file
*.class
target/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Compiled class resources
!/src/main/resources/runner-classes/fr/inria/stamp/runner/
!/src/main/resources/runner-classes/fr/inria/stamp/runner/test/
!/src/main/resources/runner-classes/fr/inria/stamp/runner/test/TestRunner.class
!/src/main/resources/runner-classes/fr/inria/stamp/runner/test/MethodFilter.class
!/src/main/resources/runner-classes/fr/inria/stamp/runner/coverage/MemoryClassLoader.class
!/src/main/resources/runner-classes/fr/inria/stamp/runner/coverage/Coverage.class
!/src/main/resources/runner-classes/fr/inria/stamp/runner/coverage/
!/src/main/resources/runner-classes/fr/inria/stamp/runner/test/TestListener.class
!/src/main/resources/runner-classes/fr/inria/stamp/runner/test/Loader.class
!/src/main/resources/runner-classes/fr/inria/stamp/runner/coverage/JacocoRunner.class
!/src/main/resources/runner-classes/fr/inria/stamp/runner/test/Failure.class
